.Account__avatar {
	position: relative;
	.bubble {
		color: white;
		width: 15px;
		height: 15px;
	    top: -4px;
	    right: -4px;
	    font-size: 10px;
		position: absolute;
		border-radius: 50%;
		display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.bubble--orange {
		background: #ff7800;
	}
}