.Row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.Column {
    margin-bottom: 10px;
	padding: 12px 10px;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Column--float-left {
    flex-direction: row;
    .icon {
        margin-right: 10px;
    }
}

.Column--with-border {
    border-radius: 3px;
    border: 1px solid $borderColor;    
    &:hover {
        cursor: pointer;
        background: #162237;
    }
}

.Column--without-border {
    border: 0;
    padding: 0;
    border-radius: 0;
    align-items: flex-start;
}

.Column-2 {
    width: 14.67%
}
.Column-3 {
    width: 25%;
}
.Column-4 {
    width: 30%;
    // width: 33.33333333%;
}
.Column-6 {
    width: 47%;
    // width: 50%;
}
.Column-8 {
    width: 66.66666667%;
}
.Column-12 {
    width: 100%;
}