.icon {
	display: inline-block;
	background: url('../../../public/images/sprites.png') no-repeat;
}

.icon-logo {
	width: 35px;
	height: 40px;
	background-position:  -335px -268px;
}

.icon-card-logo {
	width: 27px;
	height: 31px;
	background-position: -275px -272px;
}

.icon-fish {
	width: 42px;
	height: 22px;
	background-position: -267px -213px;
}

.icon-burger {
	width: 26px;
	height: 25px;
	background-position: -339px -212px;
}

.icon-pencil {
	width: 11px;
	height: 11px;
	background-position: -91px -411px;
}

.icon-photo-book {
	width: 30px;
	height: 34px; //27px;
	background-position:  -15px -19px;
}

.icon-frame-art {
	width: 26px;
	height: 34px;
	background-position:  -19px -79px;
}

.icon-phone-case {
	width: 25px;
	height: 38px;
	background-position: -20px -141px;
}

.icon-pillow {
	width: 38px;
	height: 38px;
	background-position: -13px -205px;
}

.icon-tote-bag {
	width: 31px;
	height: 37px;
	background-position:  -17px -269px;
}

.icon-poster {
	width: 29px;
	height: 41px;
	background-position: -18px -332px;
}

.icon-canvas {
	width: 44px;
	height: 32px;
	background-position: -10px -400px;
}

.icon-photo-print {
	width: 32px;
	height: 32px;
	background-position: -16px -464px;
}

.icon-facebook {
	width: 11px;
	height: 26px;
	background-position: -347px -21px;
}

.icon-instagram {
	width: 26px;
	height: 26px;
	background-position: -339px -83px;
}

.icon-upload {
	width: 17px;
	height: 26px;
	background-position: -344px -147px;
}

.icon-font-normal {
	width: 12px;
	height: 12px;
	background-position: -90px -26px;
}

.icon-font-italic {
	width: 11px;
	height: 12px;
	background-position: -90px -90px;
}

.icon-font-allcaps {
	width: 22px;
	height: 13px;
	background-position: -85px -153px;
}

.icon-font-smallcaps {
	width: 16px;
	height: 12px;
	background-position: -88px -218px;
}

.icon-font-underline {
	width: 10px;
	height: 12px;
	background-position: -91px -282px;
}

.icon-font-strikethrough {
	width: 12px;
	height: 12px;
	background-position: -90px -26px;
}

.icon-text-left {
	width: 16px;
	height: 18px;
	background-position: -152px -23px;
}

.icon-text-center {
	width: 16px;
	height: 18px;
	background-position: -152px -87px;
}

.icon-text-right {
	width: 16px;
	height: 18px;
	background-position: -152px -151px;
}

.icon-text-justify {
	width: 16px;
	height: 18px;
	background-position: -152px -215px;
}

.icon-text-leading {
	width: 30px;
	height: 16px;
	background-position: -153px -281px;
}

.icon-layout-artboard {
	width: 48px;
	height: 48px;
	background-position: -264px -8px;
}

.icon-layout-normal {
	width: 45px;
	height: 45px;
	background-position: -266px -74px;
}

.icon-layout-fullscreen {
	width: 60px;
	height: 60px;
	background-position: -258px -130px;
}
