.icon {
	display: inline-block;
	background: url('../../../public/images/sprites.png') no-repeat;
}

.icon-logo {
	width: 35px;
	height: 40px;
	background-position:  -335px -268px;
}

.icon-card-logo {
	width: 27px;
	height: 31px;
	background-position: -275px -272px;
}

.icon-fish {
	width: 42px;
	height: 22px;
	background-position: -267px -213px;
}

.icon-burger {
	width: 26px;
	height: 25px;
	background-position: -339px -212px;
}