.panel-group {
	.panel {
		border-radius: 0;
		background: none;
		border: none;
		box-shadow: none;
	}

	.panel-heading {
		padding: 5px 15px;
		border-radius: 0;
	}

	.panel-title {
		padding-bottom: 15px;
		border-bottom: 1px solid #313d4f;
		a {
			color: #7f8fa4;
			font-size: 12px;
			text-transform: uppercase;
			&:hover, &:focus {
				color: white;
				text-decoration: none;
			}
		}
	}

	.panel-body {
		padding: 10px 15px;
		border: 0 !important;
		p {
		    // margin: 0;
		}
	}
}

.Account__nav {
	.list-group {
		border: none;
		margin-bottom: 0;
		.list-group-item {
			color: #747474;
			font-size: 14px;
			font-weight: bold;
			border: none;
			&:hover {
				color: #171717;
				background: none;
			}
		}
	}
}

.leading-value {
    padding: 0;
    color: white;
    border: none;
    height: 100%;
    font-size: 12px;
	background: none;
    box-shadow: none;
    border-radius: 0;
    display: inline-block;
}

select.form-control {
	&:focus {
		box-shadow: none;
		border: 1px solid $borderColor;
	}
}

.Pikto__input-text {
    color: white;
    font-size: 14px;
    background: #273142;
    border: 1px solid $borderColor;
    &:hover, &:active, &:focus {
    	box-shadow: none;
    	border: 1px solid $borderColor;
    }
}

.btn-setting {
    color: #a1ceff;
    font-size: 12px;
    background: none;
    padding: 5px 20px;
	border: 1px solid #a1ceff;
	&:hover, &:active, &:focus {
		color: #a1ceff !important;
		background-color: #2871be !important;
		border: 1px solid #a1ceff !important;
	}
}