.Sidebar {
	flex: 0.2;
	padding-top: 10px;
	background: $editorMenu;
}

#choosePhotos {
	.panel-body {
		p {
			color: #7f8fa4;
			font-size: 11px;
			margin-top: 5px;
		}
	}

	.Column {
		padding: 10px;
	}

	.Upload__text {
		color: #7f8fa4;
		text-align: center;
		font-weight: normal;
	}

	.browse-photo {
	    font-size: 14px;
		margin: 20px 0px;
		background: #0072ff;
	    letter-spacing: 1.3px;
	    text-transform: uppercase;
	}

	.Upload__note {
		margin-top: 0;
	}
}

#productOptions {
	label {
		color: white;
		font-size: 12px;
		&.option--title {
			color: #7f8fa4;
			margin-bottom: 20px;
		}
		input[type="radio"] {
			margin-right: 7px;
		}
	}

	div.radio {
		margin-right: 20px;
		margin-bottom: 15px;
	}
}