$montserrat: 'Montserrat', sans-serif;
$proximaRegular: 'ProximaRegular';
$proximaBold: 'ProximaBold';
$openSans: 'Open Sans', sans-serif;
$header: #0072ff;
$dodgerBlue: #2ea1f8;
$purple: #6244a4;
$green: #498f74;
$blueBerry: #452c7c;
$pine: #2a6450;
$editorMenu: #273142;
$borderColor: #313d4f;