@font-face {
  font-family: 'ProximaRegular';
  src: url("../../../public/fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../../../public/fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaBold';
  src: url("../../../public/fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../../../public/fonts/proximanova-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  background: #2ea1f8;
  font-family: 'ProximaRegular';
  font-size: 13px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'ProximaBold'; }

header {
  margin: 50px 0px; }
  header .Page__title {
    color: white;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }
    header .Page__title .icon {
      margin-right: 15px; }

.Cards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

.Card {
  width: 441px;
  margin: 0 25px;
  transition: all .1s ease; }
  .Card:hover {
    border-radius: 5px;
    transform: scale(1.04);
    box-shadow: 0px 0px 50px #555; }
    .Card:hover.Card--personal .Card__action--button {
      background: #452c7c; }
    .Card:hover.Card--business .Card__action--button {
      background: #2a6450; }

.Card__image {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .Card__image .icon {
    top: 15px;
    left: 15px;
    position: absolute; }

.Card__title {
  margin-top: 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.2px;
  font-family: 'ProximaBold'; }

.Card__content--icon {
  text-align: center;
  margin: 20px 0; }

.Card__tags {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px; }

.Card--personal .Card__image {
  background: #6244a4; }

.Card--personal .Card__title {
  color: #6244a4; }

.Card--personal .Card__tags {
  color: #6244a4; }

.Card--personal .Card__action--button {
  background: #6244a4; }

.Card--business .Card__image {
  background: #498f74; }

.Card--business .Card__title {
  color: #498f74; }

.Card--business .Card__tags {
  color: #498f74; }

.Card--business .Card__action--button {
  background: #498f74; }

.Card__content {
  background: white;
  padding: 20px 20px 30px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.Card__title--category {
  color: #999;
  font-size: 13px;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase; }

.Card__description {
  color: #665;
  font-size: 14px;
  padding: 0px 20px;
  text-align: center; }

.Card__action {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px; }

.Card__action--button {
  color: white;
  display: block;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  padding: 13px 20px;
  letter-spacing: 2px;
  border-radius: 50px;
  text-transform: uppercase;
  transition: all .1s ease; }
  .Card__action--button:hover {
    color: white;
    text-decoration: none; }
    .Card--personal .Card__action--button:hover {
      background: #452c7c; }
    .Card--business .Card__action--button:hover {
      background: #2a6450; }

.icon {
  display: inline-block;
  background: url("../../../public/images/sprites.png") no-repeat; }

.icon-logo {
  width: 35px;
  height: 40px;
  background-position: -335px -268px; }

.icon-card-logo {
  width: 27px;
  height: 31px;
  background-position: -275px -272px; }

.icon-fish {
  width: 42px;
  height: 22px;
  background-position: -267px -213px; }

.icon-burger {
  width: 26px;
  height: 25px;
  background-position: -339px -212px; }

.icon-pencil {
  width: 11px;
  height: 11px;
  background-position: -91px -411px; }

.icon-photo-book {
  width: 30px;
  height: 34px;
  background-position: -15px -19px; }

.icon-frame-art {
  width: 26px;
  height: 34px;
  background-position: -19px -79px; }

.icon-phone-case {
  width: 25px;
  height: 38px;
  background-position: -20px -141px; }

.icon-pillow {
  width: 38px;
  height: 38px;
  background-position: -13px -205px; }

.icon-tote-bag {
  width: 31px;
  height: 37px;
  background-position: -17px -269px; }

.icon-poster {
  width: 29px;
  height: 41px;
  background-position: -18px -332px; }

.icon-canvas {
  width: 44px;
  height: 32px;
  background-position: -10px -400px; }

.icon-photo-print {
  width: 32px;
  height: 32px;
  background-position: -16px -464px; }

.icon-facebook {
  background-position: -347px -21px;
  width: 11px;
  height: 26px; }

.icon-instagram {
  background-position: -339px -83px;
  width: 26px;
  height: 26px; }

.icon-upload {
  width: 17px;
  height: 26px;
  background-position: -344px -147px; }

/*# sourceMappingURL=app.css.map */
