@font-face {
  font-family: 'ProximaRegular';
  src: url("../../../public/fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../../../public/fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaBold';
  src: url("../../../public/fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../../../public/fonts/proximanova-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'ProximaRegular';
  font-size: 13px; }

.Container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.Options {
  -ms-flex: 0.2;
  flex: 0.2;
  padding-top: 10px;
  background: #273142; }

.Content {
  -ms-flex: 0.60;
  flex: 0.60;
  height: 1000px; }

.Settings {
  -ms-flex: 0.2;
  flex: 0.2;
  background: #273142; }

header {
  padding: 20px;
  background: #0072ff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.Page__title, .Project__name {
  margin: 0; }

.Page__title {
  color: white;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .Page__title .icon {
    margin-right: 15px; }

.Project__name {
  font-size: 16px;
  color: white;
  font-weight: normal;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .Project__name .icon {
    margin-right: 10px; }

.Avatar {
  position: relative; }
  .Avatar .bubble {
    color: white;
    width: 15px;
    height: 15px;
    top: -4px;
    right: -4px;
    font-size: 10px;
    position: absolute;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .Avatar .bubble--orange {
    background: #ff7800; }

.Options .Column {
  background: #293345; }
  .Options .Column p {
    color: #7f8fa4; }

.Option--product-selection .Column {
  padding: 20px 10px; }
  .Option--product-selection .Column p {
    margin-top: 10px;
    margin-bottom: 0; }

.Option--product-options div.radio {
  margin-right: 20px;
  margin-bottom: 15px; }
  .Option--product-options div.radio label {
    color: white;
    font-size: 11px; }
  .Option--product-options div.radio input[type="radio"] {
    margin-right: 7px; }

.Option__label--container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px; }

.Option__label {
  color: #7f8fa4;
  font-size: 12px; }

.Option--choose-photos .Column {
  padding: 10px; }
  .Option--choose-photos .Column p {
    color: #7f8fa4;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 0; }
  .Option--choose-photos .Column:active .icon-facebook {
    background-position: -411px -21px; }
  .Option--choose-photos .Column:active .icon-instagram {
    background-position: -403px -83px; }
  .Option--choose-photos .Column:active .icon-upload {
    background-position: -408px -147px; }

.Option--choose-photos .Upload__text {
  color: #7f8fa4;
  text-align: center;
  font-weight: normal; }

.Option--choose-photos .browse-photo {
  font-size: 14px;
  margin: 20px 0px;
  background: #0072ff;
  letter-spacing: 1.3px;
  text-transform: uppercase; }

.Option--choose-photos .Upload__note {
  margin-top: 0; }

.Settings {
  padding: 10px 15px; }
  .Settings .Column:active {
    background: #162237;
    border: 1px solid #313d4f; }

.Setting {
  margin-bottom: 20px; }

.Font__settings .Column-2 {
  width: 36px; }

.Font__settings .Column {
  height: 36px;
  padding: 0; }

.Setting__title--container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px; }

.Setting__title {
  color: #7f8fa4;
  font-size: 12px;
  text-transform: uppercase; }

.Setting__label {
  color: white;
  font-size: 14px;
  margin-bottom: 0; }

.CoverLayout {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }
  .CoverLayout .Column {
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
    background: white;
    border: 2px solid rgba(12, 36, 65, 0.65); }
    .CoverLayout .Column:last-child {
      padding: 3px; }
    .CoverLayout .Column:hover {
      background: white;
      border: 2px solid #2ea1f8; }

.Row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.Column {
  margin-bottom: 10px;
  padding: 12px 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column; }
  .Column:active p {
    color: white !important; }

.Column--float-left {
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 10px !important; }
  .Column--float-left .icon {
    margin-right: 10px; }

.Column--with-border {
  border-radius: 3px;
  border: 1px solid #313d4f; }
  .Column--with-border:hover {
    cursor: pointer;
    background: #162237; }
  .Column--with-border:active {
    border: 1px solid #2ea1f8;
    background: rgba(0, 124, 255, 0.3); }

.Column--without-border {
  border: 0;
  padding: 0;
  border-radius: 0;
  -ms-flex-align: start;
  align-items: flex-start; }
  .Column--without-border:active {
    border: none !important;
    background: none !important; }

.Column--no-radius {
  border-radius: 0; }

.Column--no-active-state:active {
  background: #162237;
  border: 1px solid #313d4f; }

.Column-2 {
  width: 14.67%; }

.Column-3 {
  width: 25%; }

.Column-4 {
  width: 30%; }

.Column-6 {
  width: 47%; }

.Column-8 {
  width: 66.66666667%; }

.Column-12 {
  width: 100%; }

.icon {
  display: inline-block;
  background: url("../../../public/images/sprites.png") no-repeat; }

.icon-logo {
  width: 35px;
  height: 40px;
  background-position: -335px -268px; }

.icon-card-logo {
  width: 27px;
  height: 31px;
  background-position: -275px -272px; }

.icon-fish {
  width: 42px;
  height: 22px;
  background-position: -267px -213px; }

.icon-burger {
  width: 26px;
  height: 25px;
  background-position: -339px -212px; }

.icon-pencil {
  width: 11px;
  height: 11px;
  background-position: -91px -411px; }

.icon-photo-book {
  width: 30px;
  height: 34px;
  background-position: -15px -19px; }

.icon-frame-art {
  width: 26px;
  height: 34px;
  background-position: -19px -79px; }

.icon-phone-case {
  width: 25px;
  height: 38px;
  background-position: -20px -141px; }

.icon-pillow {
  width: 38px;
  height: 38px;
  background-position: -13px -205px; }

.icon-tote-bag {
  width: 31px;
  height: 37px;
  background-position: -17px -269px; }

.icon-poster {
  width: 29px;
  height: 41px;
  background-position: -18px -332px; }

.icon-canvas {
  width: 44px;
  height: 32px;
  background-position: -10px -400px; }

.icon-photo-print {
  width: 32px;
  height: 32px;
  background-position: -16px -464px; }

.icon-facebook {
  width: 11px;
  height: 26px;
  background-position: -347px -21px; }

.icon-instagram {
  width: 26px;
  height: 26px;
  background-position: -339px -83px; }

.icon-upload {
  width: 17px;
  height: 26px;
  background-position: -344px -147px; }

.icon-font-normal {
  width: 12px;
  height: 12px;
  background-position: -90px -26px; }

.icon-font-italic {
  width: 11px;
  height: 12px;
  background-position: -90px -90px; }

.icon-font-allcaps {
  width: 22px;
  height: 13px;
  background-position: -85px -153px; }

.icon-font-smallcaps {
  width: 16px;
  height: 12px;
  background-position: -88px -218px; }

.icon-font-underline {
  width: 10px;
  height: 12px;
  background-position: -91px -282px; }

.icon-font-strikethrough {
  width: 12px;
  height: 12px;
  background-position: -90px -26px; }

.icon-text-left {
  width: 16px;
  height: 18px;
  background-position: -152px -23px; }

.icon-text-center {
  width: 16px;
  height: 18px;
  background-position: -152px -87px; }

.icon-text-right {
  width: 16px;
  height: 18px;
  background-position: -152px -151px; }

.icon-text-justify {
  width: 16px;
  height: 18px;
  background-position: -152px -215px; }

.icon-text-leading {
  width: 30px;
  height: 16px;
  background-position: -153px -281px; }

.icon-layout-artboard {
  width: 48px;
  height: 48px;
  background-position: -264px -8px; }

.icon-layout-normal {
  width: 45px;
  height: 45px;
  background-position: -266px -74px; }

.icon-layout-fullscreen {
  width: 60px;
  height: 60px;
  background-position: -258px -130px; }

.panel-group .panel {
  border-radius: 0;
  background: none;
  border: none;
  box-shadow: none; }

.panel-group .panel-heading {
  padding: 5px 15px;
  border-radius: 0; }

.panel-group .panel-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #313d4f; }
  .panel-group .panel-title a {
    color: #7f8fa4;
    font-size: 12px;
    text-transform: uppercase; }
    .panel-group .panel-title a:hover, .panel-group .panel-title a:focus {
      color: white;
      text-decoration: none; }

.panel-group .panel-body {
  padding: 10px 15px;
  border: 0 !important; }

.leading-value {
  padding: 0;
  color: white;
  border: none;
  height: 100%;
  font-size: 12px;
  background: none;
  box-shadow: none;
  border-radius: 0;
  display: inline-block; }

select.form-control:focus {
  box-shadow: none;
  border: 1px solid #313d4f; }

.Pikto__input-text {
  color: white;
  font-size: 14px;
  background: #273142;
  border: 1px solid #313d4f; }
  .Pikto__input-text:hover, .Pikto__input-text:active, .Pikto__input-text:focus {
    box-shadow: none;
    border: 1px solid #313d4f; }

/*# sourceMappingURL=create.css.map */
