@font-face {
  font-family: 'ProximaRegular';
  src: url("../../../public/fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../../../public/fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaBold';
  src: url("../../../public/fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../../../public/fonts/proximanova-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'ProximaRegular';
  font-size: 13px; }

.Container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.Options {
  -ms-flex: 0.2;
  flex: 0.2;
  padding-top: 10px;
  background: #273142; }

.Content {
  -ms-flex: 0.60;
  flex: 0.60;
  height: 1000px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center; }

.Content__box {
  -ms-flex: 1;
  flex: 1;
  width: 85%;
  border: 1px solid #979797;
  margin: 40px 40px 20px 59px; }

.Content__zoom {
  font-size: 11px;
  border-radius: 12px;
  background: #273142; }
  .Content__zoom label {
    color: white;
    margin-bottom: 0;
    padding: 5px 15px; }

.Settings {
  -ms-flex: 0.2;
  flex: 0.2;
  background: #273142; }

header {
  padding: 20px;
  background: #0072ff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.Page__title, .Project__name {
  margin: 0; }

.Page__title {
  color: white;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .Page__title .icon {
    margin-right: 15px; }

.Project__name {
  font-size: 16px;
  color: white;
  font-weight: normal;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .Project__name .icon {
    margin-right: 10px; }

.Account--container {
  position: relative;
  right: 22px; }
  .Account--container:hover .Account__nav--dropdown {
    display: block !important; }

.Account__nav--dropdown {
  width: 250px;
  right: -22px;
  z-index: 9999;
  padding-top: 35px;
  position: absolute;
  display: none; }

.Account__nav {
  background: white;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.76); }
  .Account__nav::before {
    content: ' ';
    width: 20px;
    height: 20px;
    top: -8px;
    right: 30px;
    background: #2f87e4;
    position: absolute;
    transform: rotate(45deg); }

.Account__header {
  padding: 20px;
  background: #2f87e4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.Account__header--info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

.Account__header--name {
  color: white;
  font-size: 16px;
  margin-bottom: 0; }

.Account__header--email a {
  color: #a1ceff;
  font-size: 12px; }

.Account__header--button {
  margin-bottom: 0; }

.Account__content .list-group-item .badge {
  border-radius: 2px;
  background: #007cff; }

.Account__content .list-group-item label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  .Account__content .list-group-item label .icon {
    margin-right: 10px; }

.Account__action {
  text-align: center;
  background: #e4eaf1;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; }
  .Account__action a {
    color: #878787;
    font-size: 14px;
    padding: 10px;
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase; }
    .Account__action a:hover {
      background: #c5d0da;
      text-decoration: none; }

.Account__avatar {
  position: relative; }
  .Account__avatar .bubble {
    color: white;
    width: 15px;
    height: 15px;
    top: -4px;
    right: -4px;
    font-size: 10px;
    position: absolute;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .Account__avatar .bubble--orange {
    background: #ff7800; }

.Options .Column {
  background: #293345; }
  .Options .Column p {
    color: #7f8fa4; }

.Option--product-selection .Column {
  padding: 20px 10px; }
  .Option--product-selection .Column p {
    margin-top: 10px;
    margin-bottom: 0; }

.Option--product-options div.radio {
  margin-right: 20px;
  margin-bottom: 15px; }
  .Option--product-options div.radio label {
    color: white;
    font-size: 11px; }
  .Option--product-options div.radio input[type="radio"] {
    margin-right: 7px; }

.Option__label--container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px; }

.Option__label {
  color: #7f8fa4;
  font-size: 12px; }

.Option--choose-photos .Column-4 {
  height: 62px; }

.Option--choose-photos .Column {
  padding: 10px; }
  .Option--choose-photos .Column p {
    color: #7f8fa4;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 0; }
  .Option--choose-photos .Column:active .icon-facebook {
    background-position: -411px -21px; }
  .Option--choose-photos .Column:active .icon-instagram {
    background-position: -403px -83px; }
  .Option--choose-photos .Column:active .icon-upload {
    background-position: -408px -147px; }

.Option--choose-photos .Upload__text {
  color: #7f8fa4;
  text-align: center;
  font-weight: normal; }

.Option--choose-photos .browse-photo {
  font-size: 14px;
  margin: 20px 0px;
  background: #0072ff;
  letter-spacing: 1.3px;
  text-transform: uppercase; }

.Option--choose-photos .Upload__note {
  margin-top: 0; }

.Settings {
  padding: 10px 15px; }
  .Settings .Column:active {
    background: #162237;
    border: 1px solid #313d4f; }

.Setting {
  margin-bottom: 20px; }

.Font__settings .Column-2 {
  width: 36px; }

.Font__settings .Column {
  height: 36px;
  padding: 0; }

.Setting__title--container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px; }

.Setting__title {
  color: #7f8fa4;
  font-size: 12px;
  text-transform: uppercase; }

.Setting__label {
  color: white;
  font-size: 14px;
  margin-bottom: 0; }

.CoverLayout {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }
  .CoverLayout .Column {
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
    background: white;
    border: 2px solid rgba(12, 36, 65, 0.65); }
    .CoverLayout .Column:last-child {
      padding: 3px; }
    .CoverLayout .Column:hover {
      background: white;
      border: 2px solid #2ea1f8; }

.Row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.Column {
  margin-bottom: 10px;
  padding: 12px 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column; }
  .Column:active p {
    color: white !important; }

.Column--float-left {
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 10px !important; }
  .Column--float-left .icon {
    margin-right: 10px; }

.Column--with-border {
  border-radius: 3px;
  border: 1px solid #313d4f; }
  .Column--with-border:hover {
    cursor: pointer;
    background: #162237; }
  .Column--with-border:active {
    border: 1px solid #2ea1f8;
    background: rgba(0, 124, 255, 0.3); }

.Column--without-border {
  border: 0;
  padding: 0;
  border-radius: 0;
  -ms-flex-align: start;
  align-items: flex-start; }
  .Column--without-border:active {
    border: none !important;
    background: none !important; }

.Column--no-radius {
  border-radius: 0; }

.Column--no-active-state:active {
  background: #162237;
  border: 1px solid #313d4f; }

.Column-2 {
  width: 14.67%; }

.Column-3 {
  width: 25%; }

.Column-4 {
  width: 30%; }

.Column-6 {
  width: 47%; }

.Column-8 {
  width: 66.66666667%; }

.Column-12 {
  width: 100%; }

.icon {
  display: inline-block;
  background: url("../../../public/images/sprites.png") no-repeat; }

.icon-logo {
  width: 35px;
  height: 40px;
  background-position: -335px -268px; }

.icon-card-logo {
  width: 27px;
  height: 31px;
  background-position: -275px -272px; }

.icon-fish {
  width: 42px;
  height: 22px;
  background-position: -267px -213px; }

.icon-burger {
  width: 26px;
  height: 25px;
  background-position: -339px -212px; }

.icon-pencil {
  width: 11px;
  height: 11px;
  background-position: -91px -411px; }

.icon-photo-book {
  width: 30px;
  height: 34px;
  background-position: -15px -19px; }

.icon-frame-art {
  width: 26px;
  height: 34px;
  background-position: -19px -79px; }

.icon-phone-case {
  width: 25px;
  height: 38px;
  background-position: -20px -141px; }

.icon-pillow {
  width: 38px;
  height: 38px;
  background-position: -13px -205px; }

.icon-tote-bag {
  width: 31px;
  height: 37px;
  background-position: -17px -269px; }

.icon-poster {
  width: 29px;
  height: 41px;
  background-position: -18px -332px; }

.icon-canvas {
  width: 44px;
  height: 32px;
  background-position: -10px -400px; }

.icon-photo-print {
  width: 32px;
  height: 32px;
  background-position: -16px -464px; }

.icon-facebook {
  width: 11px;
  height: 26px;
  background-position: -347px -21px; }

.icon-instagram {
  width: 26px;
  height: 26px;
  background-position: -339px -83px; }

.icon-upload {
  width: 17px;
  height: 26px;
  background-position: -344px -147px; }

.icon-font-normal {
  width: 12px;
  height: 12px;
  background-position: -90px -26px; }

.icon-font-italic {
  width: 11px;
  height: 12px;
  background-position: -90px -90px; }

.icon-font-allcaps {
  width: 22px;
  height: 13px;
  background-position: -85px -153px; }

.icon-font-smallcaps {
  width: 16px;
  height: 12px;
  background-position: -88px -218px; }

.icon-font-underline {
  width: 10px;
  height: 12px;
  background-position: -91px -282px; }

.icon-font-strikethrough {
  width: 12px;
  height: 12px;
  background-position: -90px -26px; }

.icon-text-left {
  width: 16px;
  height: 18px;
  background-position: -152px -23px; }

.icon-text-center {
  width: 16px;
  height: 18px;
  background-position: -152px -87px; }

.icon-text-right {
  width: 16px;
  height: 18px;
  background-position: -152px -151px; }

.icon-text-justify {
  width: 16px;
  height: 18px;
  background-position: -152px -215px; }

.icon-text-leading {
  width: 30px;
  height: 16px;
  background-position: -153px -281px; }

.icon-layout-artboard {
  width: 48px;
  height: 48px;
  background-position: -264px -8px; }

.icon-layout-normal {
  width: 45px;
  height: 45px;
  background-position: -266px -74px; }

.icon-layout-fullscreen {
  width: 60px;
  height: 60px;
  background-position: -258px -130px; }

.icon-notification {
  background-position: -218px -26px;
  width: 12px;
  height: 12px; }

.icon-upgrade-plan {
  background-position: -218px -91px;
  width: 12px;
  height: 10px; }

.icon-tutorial {
  background-position: -220px -154px;
  width: 9px;
  height: 12px; }

.icon-help {
  background-position: -218px -219px;
  width: 12px;
  height: 12px; }

.panel-group .panel {
  border-radius: 0;
  background: none;
  border: none;
  box-shadow: none; }

.panel-group .panel-heading {
  padding: 5px 15px;
  border-radius: 0; }

.panel-group .panel-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #313d4f; }
  .panel-group .panel-title a {
    color: #7f8fa4;
    font-size: 12px;
    text-transform: uppercase; }
    .panel-group .panel-title a:hover, .panel-group .panel-title a:focus {
      color: white;
      text-decoration: none; }

.panel-group .panel-body {
  padding: 10px 15px;
  border: 0 !important; }

.Account__nav .list-group {
  border: none;
  margin-bottom: 0; }
  .Account__nav .list-group .list-group-item {
    color: #747474;
    font-size: 14px;
    font-weight: bold;
    border: none; }
    .Account__nav .list-group .list-group-item:hover {
      color: #171717;
      background: none; }

.leading-value {
  padding: 0;
  color: white;
  border: none;
  height: 100%;
  font-size: 12px;
  background: none;
  box-shadow: none;
  border-radius: 0;
  display: inline-block; }

select.form-control:focus {
  box-shadow: none;
  border: 1px solid #313d4f; }

.Pikto__input-text {
  color: white;
  font-size: 14px;
  background: #273142;
  border: 1px solid #313d4f; }
  .Pikto__input-text:hover, .Pikto__input-text:active, .Pikto__input-text:focus {
    box-shadow: none;
    border: 1px solid #313d4f; }

.btn-setting {
  color: #a1ceff;
  font-size: 12px;
  background: none;
  padding: 5px 20px;
  border: 1px solid #a1ceff; }
  .btn-setting:hover, .btn-setting:active, .btn-setting:focus {
    color: #a1ceff !important;
    background-color: #2871be !important;
    border: 1px solid #a1ceff !important; }

/**  
* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
**/
input[type=range] {
  -webkit-appearance: none;
  width: 100%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: #1a91eb;
  border-radius: 1.3px; }

input[type=range]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background: #273142;
  border: 2px solid white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101; }

input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px; }

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px; }

input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9; }

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd; }

@media screen and (max-width: 320px) {
  .Cards {
    -ms-flex-direction: column;
    flex-direction: column; }
  .Card {
    width: 280px;
    margin-bottom: 20px; }
  .Card__action--button {
    padding: 13px 0px; }
  .Container {
    -ms-flex-direction: column;
    flex-direction: column; }
  .Account--container {
    right: 8px; } }

@media screen and (max-width: 414px) {
  .Cards {
    -ms-flex-direction: column;
    flex-direction: column; }
  .Card {
    width: 280px;
    margin-bottom: 20px; }
  .Card__action--button {
    padding: 13px 0px; }
  .Container {
    -ms-flex-direction: column;
    flex-direction: column; }
  .Account--container {
    right: 8px; } }

@media screen and (max-width: 768px) {
  .Option--product-selection .Column p {
    font-size: 11px; }
  .Option--choose-photos .Column-4 {
    height: 70px; } }

.ruler {
  background: #202939;
  color: #444;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden; }

.ruler > div {
  background: #3f4c60; }

.hRule {
  position: absolute;
  width: 100%;
  height: 18px;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid;
  z-index: 9; }

.vRule {
  position: absolute;
  min-height: 100%;
  width: 18px;
  left: 0px;
  top: 0px;
  border-right: 1px solid;
  z-index: 9; }

.corner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  z-index: 10;
  background: #273142;
  border-right: 1px solid;
  border-bottom: 1px solid; }

.hRule .tickLabel {
  color: #3f4c60;
  position: absolute;
  top: 0px;
  width: 1px;
  height: 100%;
  text-indent: 1px; }

.hRule .tickMajor {
  bottom: 0px;
  width: 1px;
  height: 6px;
  position: absolute; }

.hRule .tickMinor {
  bottom: 0px;
  width: 1px;
  height: 4px;
  position: absolute; }

.vRule .tickLabel {
  color: #3f4c60;
  position: absolute;
  right: 0px;
  height: 1px;
  width: 100%;
  text-indent: 1px; }

.vRule .tickLabel span {
  display: block;
  position: absolute;
  top: 1px;
  right: 0px;
  margin-right: 18px;
  transform: rotate(-90deg);
  transform-origin: top right; }

.vRule .tickMajor {
  position: absolute;
  right: 0px;
  height: 1px;
  width: 6px; }

.vRule .tickMinor {
  position: absolute;
  right: 0px;
  height: 1px;
  width: 4px; }

.vMouse {
  display: block;
  position: fixed;
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0;
  background: transparent;
  border-bottom: 1px dotted;
  z-index: 11; }

.hMouse {
  display: block;
  position: fixed;
  position: absolute;
  height: 100%;
  width: 0px;
  top: 0;
  background: transparent;
  border-left: 1px dotted;
  z-index: 11; }

.mousePosBox {
  height: 16px;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: source code pro;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: fixed;
  position: absolute;
  white-space: no-wrap;
  display: block;
  overflow-y: hidden;
  float: left;
  text-align: left;
  left: -50%;
  top: -50%;
  padding: 0 2px; }

/*# sourceMappingURL=create.css.map */
