@import 'components/Fonts';
@import 'components/Variables';

body {
	font-family: 'ProximaRegular';
	font-size: 13px;
	background-image: linear-gradient(to right, #00c6ff, #0072ff);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'ProximaBold';
}

header {
	margin: 50px 0px;
	.Page__title {
	    color: white;
	    font-size: 14px;
	    font-weight: normal;
	    letter-spacing: 1.3px;
	    text-transform: uppercase;

		display: flex;
		align-items: center;
		justify-content: center;

		.icon {
			margin-right: 15px;
		}
	}
}

@import 'components/Card';
@import 'components/Button';
@import 'components/Icons';
@import 'components/MediaQueries';