@import 'components/Fonts';
@import 'components/Variables';

body {
	font-family: 'ProximaRegular';
	font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
	// font-family: 'ProximaBold';
}


.Container {
	display: flex;
	justify-content: space-between;
}

.Content {
	flex: 0.55;
	height: 1000px;
}

.Settings {
	flex: 0.25;
	background: $editorMenu;
}


@import 'components/Grid';
@import 'components/Header';
@import 'components/Sidebar';
@import 'components/Setting';
@import 'components/Avatar';
@import 'components/Icons';
@import 'components/Overwrite';
@import 'components/MediaQueries';